body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color: #7B10F1;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
  font-family: HelveticaNeue;
}
.topbar{
  height:32px;
  background-color: #F12510;
}
.title{
  background-color: #777;
}
.blinkyDancer{
  border:10px solid #10A7F1;
  border-radius:10px;
  position:absolute;
}
.modernDancer{
  border:40px solid #F1ED10;
  border-radius:10px;
  position:absolute;
}
.oldSchoolDancer{
  border:30px solid #7FF110;
  border-radius:5px;
  position:absolute;
}